.container {
  max-width: 600px;
  margin: 30px auto 15px auto;
  font-size: 16px;
  color: #484848;
}

.title {
  font-weight: 500;
  font-size: 16px;
}

.pageBreak {
  color: #808080;
}

.button {
  background: none!important;
  margin-top: 25px;
  color: rgb(0, 132, 137);
  border: none; 
  padding: 0!important;
  font: inherit;
  cursor: pointer;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightColumn {
  padding-right: 100px;
}

.amenity {
  width: 100%;
  /* margin-top: 15px; */
}

.displayAmenity {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* .column {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.icon1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.icon2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.icon3 {
  grid-column-start: 1;
  grid-row-start: 3;
} */