.container {
  max-width: 600px;
  margin: 20px auto 10px auto;
  color: #686868;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: normal;
  line-height: 22px;
}

button {
  background:none!important;
  margin-top: 15px;
  color: #6BB7B9;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  font-size: 16px;
}

button:focus {
  outline: none;
}

button:hover {
  text-decoration: underline;
}