.container {
  max-width: 500px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #484848;
}

.name {
  font-size: 30px;
  font-weight: 900;
}

.livingSpace {
  font-size: 12px;
}