.container {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 8px 8px 15px 15px;
  color: #484848;
}

.highlight {
  font-weight: 500;
  font-size: 16px;
}

.details {
  font-weight: 400;
  font-size: 14px;
}