.container {
  border: solid	#E0E0E0 1px;
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #C8C8C8;
  margin: 10px auto 10px auto;
}

.title {
  font-size: 12px;
  margin: 20px 0px 0px 15px;
}