.container {
  border: solid	#E0E0E0 1px;
  max-width: 600px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 2px #C8C8C8;
  margin: 10px auto 10px auto;
  color: #484848;
}

.title {
  font-size: 12px;
  margin: 20px 0px 0px 15px;
}